.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* overflow: auto; */
  margin: 50px auto;
}

.pricecol
{
width:31%;
background: whitesmoke;
min-height:30%;
border-radius:10px;
position:relative;
padding:30px 0px;
text-align:center;
font-family:verdana;
float:left;
margin-left:20px;
border: rgb(9, 106, 192); 
border-style:groove; 
margin-bottom: 10px; 
box-shadow: 0 10px 10px rgb(144, 190, 232);
}
.icons
{
width:70px;
height:70px;
border-radius:100%;
background: rgb(9, 106, 192);
color:#fff;
text-align:center;
position:relative;
margin:0 auto;

}

h3
{
text-align:center;
background: linear-gradient(90deg, rgb(9, 106, 192), 40%, rgb(9, 106, 192));
text-align:center;
border-top:1px solid whitesmoke;
border-bottom:1px solid whitesmoke;
color:#fff;
}
h3 span
{
/* border-top:1px solid rgb(51, 60, 64);
border-bottom:1px solid  rgb(25, 31, 34); */
display:block;
padding: 10px 0px;
font-family:verdana;
font-size:20px;
}
.button
{
border-radius:34px;
border:5px solid rgba(255, 255, 255, 0.07);
color:rgb(64, 85, 29);
font-size:16px;
margin-top:15px;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
cursor:pointer;
display:inline-block;
}
.button span
{
display:inline-block;
padding:10px 15px;
background: none repeat scroll 0% 0% rgb(9, 106, 192);
border-radius:20px;
box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 2px 0px rgba(255, 255, 255, 

0.1) inset;
color: white;
}
.s-service
{
list-style-type:none;
padding:0px;
color:#fff;
font-family:verdana;
font-size:14px;
margin:0 auto;
text-align:center;
width:70%;
color:rgb(165, 174, 178);
border-bottom:1px solid rgb(51, 60, 64);
border-top:1px solid rgb(25, 31, 34);
}
.lists
{
padding:10px 0px;
/* border-top:1px solid rgb(51, 60, 64);
border-bottom:1px solid rgb(25, 31, 34); */
}

@media (max-width: 768px) {
  .pricecol {
    width: 95%;
    padding-bottom: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}