html, body{
	font-family: 'Raleway', sans-serif;
	color: #5d5d5d;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-align: justify;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	background-color: rgb(255, 255, 255);
}

.pdsLogo{
	margin-top: 5px;
	z-index: 100;
	opacity: 1;
}

.article-header{
	display: grid;
	place-items: center;
	position: relative;
	height: 100svh;
	overflow-x: clip;
	padding-block: 7rem;
	margin-block-end: 3rem;


}

.header-content{
	animation: fade-out linear;
	animation-timeline: view();
	animation-range: exit -200px;
	border: 2px yellow solid;
}

.header-image{
	grid-column:  1 / -1;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	object-fit: cover;
	z-index: -1;
}